@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

/* This is the base template file - please use the supplied slides to experiment */
* {box-sizing: border-box;}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 15px;
    /* width: 33.33%; */
}
  
/* Colours for each box */
.box1 { background:#eccc68;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
.box10 { background:#18dcff;}

.container{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;

    /* min-height: 100vh;
    flex-wrap: wrap; wraps the contents side by side and ontop of each other */
    /* flex-wrap: nowrap; default settings */
    /* flex-wrap: wrap-reverse; this reverese the order of your flex wrap */
    /* flex-direction: column; */
    /* flex-direction: column-reverse;  this reverses the direction of the box*/
    /* flex-direction: row-reverse; reverses the row direction  */
    /* flex-direction: row; this makes it a row */
    
}
