/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div{
  justify-content: center;
}
/* animation of doom */

/* div{
  justify-content: center;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
} */

/* nav{
  position: relative;

  animation: movediv 4s;
  animation-iteration-count: infinite;

} */


body {
  font-family: sans-serif;
  margin: 0;
  animation-name: backgroundColor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  
}

/* flashing back ground animation */
 /* @keyframes backgroundColor {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}  */


/* move nav animation */
/* @keyframes movediv{
  from {top: 0px;}
  to {top: 300px;;}
} */


/* 
@keyframes bganimation {
  from {background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%)}
  to {background-image: linear-gradient(260deg, #ae2323 0%, #6ecf7b 100%)}
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 100%;
    transition: all 0.5s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.wrapper {
  
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

/* Flex Container */
.flex-nav ul {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-nav ul li {
  flex-grow: 1;
}

@media all and (max-width: 1000px) {
  .flex-nav ul li {
    width: 50%;
  }
  .flex-nav .social {
    width: 25%;
  }
  a {
    font-size: 80px;
  }
}

@media all and (max-width: 500px) {
  .flex-nav ul li {
    width: 100%;
  }
  .flex-nav .social {
    width: 25%;
  }

  a {
    font-size: 30px;
  }
}
/* 
/* Some CSS Setup - nothing to do with flexbox */
/* html {
  box-sizing: border-box;
}

*,
*:before,
:after {
  box-sizing: inherit;
}


body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

/* Flex Container */
/* .flex-nav ul {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* } */ 
/* .flex-nav ul li {
  flex-grow: 1;
}

@media all and (max-width: 1000px) {
  .flex-nav ul li {
    width: 50%;
  }
  .flex-nav .social {
    width: 25%;
  }
}

@media all and (max-width: 500px) {
  .flex-nav ul li {
    width: 100%;
  }
  .flex-nav .social {
    width: 25%;
  }
} */